<div class="panel-body" id="browser_breakdown">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Browser</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <% Payload.active_record_browser(@user.identifier, :userAgent).each do |url_count| %>
                <tr>
                    <td><%= url_count[0] %></td>
                    <td><%= url_count[1] %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <!-- /.table-responsive -->
</div>
<!-- /.panel-body -->
