<div class="panel-body" id="long_response">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Longest Response Time</th>
                    <th>Average Response Time<th>
                    <th>Shortest Response Time</th>
                </tr>
            </thead>
            <tbody>
                <% Payload.find_one(@user.identifier, :url) %>
                <tr>
                    <td><%= Payload.maximum("respondedIn") %></td>
                    <td><%= Payload.average("respondedIn").to_i %></td>
                    <td><%= Payload.minimum("respondedIn") %></td>
                </tr>

            </tbody>
        </table>
    </div>
    <!-- /.table-responsive -->
</div>
<!-- /.panel-body -->
