<div id= "os_breakdown">
  <ul>
    <% Payload.active_record_os(@user.identifier, :userAgent).each do |url_count| %>
      <li><%= url_count[0] %> - <%= url_count[1] %></li>
    <% end %>
  </ul>
</div>
